<!-- <router-outlet #outlet="outlet"></router-outlet> -->
<!-- <app-control-panel (optionChange)='onChange($event)' (clicked)='onClicked($event)'></app-control-panel> -->
<!-- <app-canvas [option]='option' [clicked]='clicked'></app-canvas> -->
<div fxLayout='column' fxLayoutAlign='space-around' style="width:100vw; height:100vh;">

  <app-control-panel fxFlex='10' style="width:100%; height:10%;"></app-control-panel>

  <div fxFlex='88' fxLayout='row' fxLayoutAlign='space-around center' style="width:100%; height:70%;">
    <div fxFlex='84' style="width:70%; height:100%; position: relative;">
      <app-pixi-view #pixiView style="width:100%; height:100%;"></app-pixi-view>
      <app-box2d-view style="width:100%; height:100%;"
        [pixiView]='pixiView'
        [configInput]='configInput'></app-box2d-view>
    </div>
    <app-config-input fxFlex='14' #configInput></app-config-input>
  </div>

</div>

<!-- <app-canvas [pixiView]='pixiView'></app-canvas> -->
